# compiled output
dist
tmp
/out-tsc
coverage
projectStructure.cache.json

# dependencies
node_modules

# IDE - VSCode
.vscode

# Environment
.env

# generated
src/app/ui/styles/global.less
src/app/ui/styles/variables.less
*storybook.log
storybook-static

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
allure-results
