# compiled output
dist
tmp
/out-tsc
coverage
projectStructure.cache.json

# dependencies
node_modules

# Environment
.env

# generated
src/app/styles
*storybook.log
storybook-static

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
allure-results
playwright-report