# compiled output
dist
tmp
/out-tsc
coverage

# dependencies
node_modules

# IDE - VSCode
.vscode

# Environment
.env

# generated
src/app/ui/styles/global.less
src/app/ui/styles/variables.less
*storybook.log
storybook-static
