.root {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../../public/images/background-light.webp);
}

body[data-theme='dark'] {
  .root {
    background-image: url(../../../public/images/background-dark.webp);
  }
}
