.root {
  margin-left: 10px;
  display: flex;
  align-items: center;

  .button {
    width: 28px;
    height: 28px;

    :hover {
      box-shadow: 0px 0px 8px 2px var(--text1);
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
